body {
	font-family: Tahoma, Geneva, sans-serif;
}

.main {
	width: 70%;
	padding-bottom:50px;
	margin: auto;
	height: auto;
    overflow:auto;
}

.fr {
	float:right;
}
.displayInline{
	display:inline;
}

.main .divSiprator {
	border-right: 1px solid #f1f1f1;
	dispaly:block;
}

/* css from profile page */

#profile .container {
	width:100%;
}

#profile label{
	width:90%;
}

#profile .overflowAuto{
	overflow:auto;
	height:500px;
}

/*end css for profile*/

.error {
	color: red;
	font-weight: 700;
	margin-top: 10px;
}

#login {
    position: absolute;
    z-index: -1;
    background: url("../image/city.jpg") 50% 50% / cover no-repeat fixed padding-box border-box rgb(43, 54, 67);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    border-width: 0px;
    border-style: none;
    border-color: rgb(51, 51, 51);
}

#login .btn-success {
	width: 100%;
}

#login .btn-primary {
	width: 100%;
    margin-top: -10px;
}

#login .divider-break {
    border-top: 1px solid #e7e7e7;
    margin-top: 25px;
    z-index: 1;
    text-align: center;
}

#login .checkbox {
	color: white;
}

#login .divider-break p {
	position: relative;
    top: -20px;
    color: white;
    opacity: 0.5;
}

#login .container {
	width: 30%;
    margin-top: 10%;
    background-image: url("../image/bg-white-lock.png");
    height: 370px;
    padding:20px;
}

#login a[href="signup"] {
	color: white;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
}

#login a[href="signup"]:hover {
	text-decoration: none;
}

#signup {
    position: absolute;
    z-index: -1;
    background: url("../image/street.jpg") 50% 50% / cover no-repeat fixed padding-box border-box rgb(43, 54, 67);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    border-width: 0px;
    border-style: none;
    border-color: rgb(51, 51, 51);
}

#signup h3 img {
	margin-right: 10px;
    margin-top: -5px;
}

#signup h3 {
	color: white;
    font-weight: 500;
}

#signup input {
	width: 105%;
}

#signup input[type="date"] {
    width: 147%;
}

#signup .container {
	width: 30%;
    background-image: url("../image/bg-white-lock.png");
    padding:30px;
}

#login form {
	margin-top: 20px;
}

/*css for header*/

#header header {
	margin-top: 20px;
	height: 180px;
}

#header .menu-toggle-wrap .menu-toggle.active {
    background-color: rgb(250, 250, 250);
}

#header .menu-toggle-wrap .menu-toggle {
    display: inline-block;
    font-size: 21px;
    height: 55px;
    width: 55px;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    z-index: 11;
    opacity: 1;
    right: -8px;
    top: 10px;
    position: absolute;
    color: rgb(35, 41, 47);
    transition: all 0.7s ease 0.1s;
    left: 160px;
}

#header .menu-toggle-wrap .menu-toggle:hover {
    color: rgb(35, 41, 47);
    background-color: rgb(250, 250, 250);
}

#header .menu-toggle-wrap .toggle-cont-menu {
    position: absolute;
    right: -9px;
    top: 78px;
    left: 8px;
    text-align: center;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    padding: 0px;
    transition: all 0.7s ease 0.2s;
}

#header .menu-toggle-wrap .menu-toggle.active + .toggle-cont-menu {
    top: 55px;
    z-index: 10;
    opacity: 1;
    pointer-events: auto;
}

#header .menu-toggle-wrap .menu-toggle.active + .toggle-cont-menu .megamenu {
    padding: 0px;
}

#header .megamenu {
    position: relative;
    text-align: left;
    padding: 0px;
    transition: all 0.7s ease;
}

#header .sf-menu {
    display: inline-block;
    width: 270px;
    background-color: rgb(250, 250, 250);
    list-style: none;
    padding: 16px 0px;
}

#header .sf-menu li {
    position: relative;
}

#header .sf-menu > li {
    display: block;
    float: none;
    text-align: left;
    padding: 0px;
}

#header a:hover {
	text-decoration: none;
}

#header .sf-menu > li:hover {
   background-color: #F5F5F5;
   cursor: pointer;
}


#header .sf-menu > li > a {
    font-size: 14px;
    line-height: 35px;
    display: block;
    position: relative;
    font-weight: 400;
    color: rgb(35, 41, 47);
    overflow: hidden;
    padding: 0px 30px;
}



#header .sf-menu > li > a.active::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 3px;
    display: inline-block;
    height: 100%;
    transition: all 0.35s ease;
    background: rgb(18, 164, 221);
}

#header .search input[type="text"] {
    color: rgb(117, 117, 117);
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    margin: 0px;
    padding: 14px 100px 14px 15px;
    background: rgb(245, 245, 245);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(245, 245, 245);
    border-image: initial;
}

#header .search button {
    display: inline-block;
    outline-offset: 0px;
    cursor: pointer;
    -webkit-appearance: none;
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgb(255, 255, 255);
    background: rgb(18, 164, 221);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    transition: all 0.3s ease;
    padding: 0px 35px;
    font: 400 20px/55px material-design;
    height: 55px;
}

#header .search button:hover {
	background-color: #888B8E;
}

#header .col-sm-4 {
	margin-top : 10px;
}

#header .col-sm-1.login h1{
    background-color: red;
}

#header header .header_modules {
    text-align: right;
    padding-top: 5px;
    margin-top: 10px;
}

#header header .header_modules > div {
    text-align: left;
    display: inline-block;
    position: relative;
}

#header header .header_modules i {
    font-size: 18px;
    position: absolute;
    left: -27px;
    top: 5px;
    color: #12A4DD;
}

#header header .header_modules span {
	color: #96999C;
    font-size: 15px;
}

#header header .header_modules p {
    color: rgb(35, 41, 47);
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
}

#header .col-sm-3 {
	margin-top : 20px;
    text-align: end;
}

#header .col-sm-3 div {
	display: inline-block;
	width: 50px;
	text-align: center;
}

#header .col-sm-3 #cart {
	border-right: 1px solid #ECEFF1;
}

#header .col-sm-3 #cart img{
	cursor: pointer;
}

#header .col-sm-3 #cart span {
	position: relative;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    height: 15px;
    top: -5px;
    left: -7px;
    width: 15px;
    border-radius: 50%;
    background: rgb(18, 164, 221);
}

#header #cart-total {
	font-weight: 600;
}

#header .col-sm-12 {
	margin-top: 40px;
}

/*css for product*/

#product a:hover {
	text-decoration: none;
}

#product section {
	overflow: auto;
}

#product .glyphicon-chevron-left,#product .glyphicon-chevron-right {
	height: 60px;
    width: 60px;
    line-height: 60px;
    background-color: #C9302C;
    color : black;
}

#product .glyphicon-chevron-left:hover,#product .glyphicon-chevron-right:hover {
	 background: #286090;
	  color : white;
}

#product .carousel-caption {
	text-align: left;
	bottom: 150px;
	left: 15%;
}

#product .carousel-caption h2 {
	color: #fff;
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
    text-transform: none;
    margin: 0 0 40px;
    font-family: "Rubik",sans-serif;
}

#product .carousel-caption p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: .3px;
    text-transform: none;
    margin: 0 0 41px;
    width: 400px;
}

#product .carousel-caption .btn {
	padding: 11px 42px;
 	background: #218f93;
 	font-size: 15px;
    line-height: 24px;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-family: "Rubik",sans-serif;
    text-transform: none;
    text-shadow: none;
    outline: none;
    vertical-align: middle;
	outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    transition: 0.3s all ease;
}

#product .carousel-caption .btn img {
    position: relative;
    left: 0;
    display: inline-block;
    font-size: 20px;
    font-family: "fl-outicons";
    margin-right: 8px;
    top: -2px;
}

#product .carousel-caption a:hover {
	background-color: #fff;
	color: black;
}

#product #featureProduct {
	background-color: #f5f5f5;
	margin-left: 15px;
	margin-top: 30px;
}

#product #featureProduct h1{
    margin: 0 0 28px;
    font-size: 30px;
    line-height: 80px;
}

#product .rowProduct {
	column-count: 6;
}

#product .rowProduct img {
    width: 95%;
    margin-top: 25%;
}

#product .rowProduct div {
	background-color: #fff;
}

#product .rowProduct div .description {
	margin-top: 50px;
	text-align: center;
}

#product .rowProduct div .description h4 {
    margin-left: 30px;
    width: 150px;
}

#product .rowProduct div .description p {
	font-size: 18px;
    line-height: 32px;
    color: #12a4dd;
}

#product .detailBtn {
	height: 45px;
    text-align: center;
    line-height: 40px;
    margin-top: 25px;
}

#product .detailBtn div {
	display: none;
}

#product .detailBtn a {
    width: 80%;
    display: block;
    height: 90%;
    background-color: #218f93 !important;
    color: white !important;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
}

#product .detailBtn a:hover {
	background-color: #fff !important;
	color: black !important;
}


/*End of css for product Page*/

/*Begin of css for productDetail Page*/

#productDetail {
	background-color: #F5F5F5;
	overflow: auto;
	padding-top: 15px;
}
#productDetail .col-sm-2 {
	background-color: #F5F5F5;
    padding: 0px;
}

#productDetail .col-sm-2 img {
	height: 120px;
	width: 120px;
	background-color: white;
	border: 1px solid #fff;
}

#productDetail .col-sm-2 > div {
	height: 130px;
    padding: 10px;
    margin-bottom: 15px;
}

#productDetail .col-sm-2 > div:hover {
	cursor: pointer;
}

#productDetail .col-sm-10 {
	height: 733px;
	background-color: #F5F5F5;
}

#productDetail .col-sm-4 {
	height: 100px;
	background-color: #F5F5F5;
}

#productDetail .col-sm-4 h3 {
    font-size: 30px;
    line-height: 46px;
    margin: 0 0 20px;
    color: #23292f;
    font-family: "Rubik",sans-serif;
    font-weight: 300
}

#productDetail .col-sm-4 h4 {
	font-size: 30px;
    color: #23292f;
    line-height: 50px;
    border-bottom: 1px solid #ebebeb;
}

#productDetail .col-sm-4 div {
	line-height: 30px;
}

#productDetail .col-sm-4 div.available {
	border-bottom: 1px solid #ebebeb;
}

#productDetail .col-sm-4 div label {
    color: #54B70B;
}

#productDetail .detail {
	font: 400 14px/22px "Open Sans",sans-serif;
	color: #757575;
}

#productDetail .col-sm-10 img {
	height: 733px;
    width: 733px;
}

#productDetail button {
    display: inline-block;
    outline-offset: 0px;
    cursor: pointer;
    -webkit-appearance: none;
    color: rgb(255, 255, 255);
    background: rgb(18, 164, 221);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    transition: all 0.3s ease;
    padding: 0px 35px;
    font: 400 20px/55px material-design;
    height: 55px;
    margin-top: 20px;
    font: 600 15px/22px "Open Sans",sans-serif;
}

#productDetail button:hover {
	background-color: #888B8E;
}
/*End of css for productDetail Page*/

#thankyou .container {
	background-image: url("../image/thank-you.jpg");
    height: 563px;
    width: 1000px;
    margin: auto;
}

#thankyou {
	background: #ECEFF1;
	border-top: 1px solid #3E4349;
}

/*Check out CSS*/

#shoppingCart {
	margin-bottom: 30px;
	font-family: "Amazon Ember",Arial,sans-serif;
	color: #111;
}

#shoppingCart span {
	color: #b12704;
    font-weight: 700!important;
    font-size: 20px!important;
}

#shoppingCart div .goodCheckout h3 {
   	display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 40px;
    width: 350px;
    top: -20px;
    color: #0066c0;
    font-weight: 700!important;
    font-size: 17px!important;
    line-height: 1.255!important;
}

#shoppingCart div.orderList h1 {
	padding-top: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #DDD;
    height: 60px;
}

#shoppingCart div .goodCheckout {
    border-bottom: 1px solid #DDD;
    padding: 10px;
}

#shoppingCart div .goodCheckout a {
     display: inline-block;
     margin-right: 40px;
     width: 250px;
}

#shoppingCart div .goodCheckout a:hover {
	cursor: pointer;
}

#shoppingCart div .goodCheckout p {
	display: inline-block;
    vertical-align: top;
    position: relative;
    color: #b12704!important;
 	font-weight: 700!important;
 	font-size: 17px!important;
    line-height: 1.255!important;
}

#shoppingCart div .goodCheckout .delete {
	display: inline-block;
    width: 20px;
    margin-left: 125px;
    vertical-align: top;
    position: relative;
    color: #0066C0;
}

#shoppingCart div .goodCheckout img {
	width: 100px;
    height: 100px;
}

#shoppingCart .orderList {
    margin-bottom: 20px;
    width: 70%;
    margin-left: 10%;
    background-color: #FFFFFF;
    margin-top: 30px;
}

#shoppingCart #checkoutBtn {
	float: right;
	position: fixed;
	bottom: 5px;
	right: 20px;
	color: #fff;
    background-color: #449d44;
    border-color: #398439;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 150px;
    font-weight: 700;
}

#shoppingCart a:hover {
	text-decoration: none;
}

#shoppingCart .total {
    text-align: end;
    margin-right: 20%;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 20px;
    color: #111;
    font-weight: 700;
}

/*Css for product manager insert*/

#insertProduct form {
	height: 620px !important;
	padding: 20px;	
}

#insertProduct {
	background: url("../image/insertProduct.jpg")
}

/*CSS for error page*/
#error .container {
	background-image: url("../image/rsz_1404page.jpg");
    height: 563px;
    width: 1000px;
    margin: auto;
}

#error {
	background: #ECEFF1;
	border-top: 1px solid #3E4349;
}

/*CSS for checkout*/
#checkout {
	background-color: #c0d1ed;
}

#checkout .container {
	width: 40%;
	margin-left: 10px;
    padding: 20px;
}
.amount {
	float: right;
    margin-right: 65px;
    margin-top: 10px;
}

#checkout input[type="submit"] {
	width: 100px;
}

#checkout .cart-list {
    margin-top: 20px;
}

#checkout .cart-list li {
	list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

#checkout .group-card {
	 border: 1px solid #ddd;
}

#checkout input[type="submit"] {
	margin-top: 20px;
}



